<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{layout :: headerFiles}"></head>
<body class="d-flex flex-column min-vh-100">

<nav th:replace="~{layout :: navbar}"></nav>

<div class="container mt-5 flex-grow-1">
    <div class="row">

        <div class="col-md-8">
            <h1 th:text="${book.name}">Назва книги</h1>
            <h4 class="text-muted mb-3" th:text="'Автор: ' + ${book.author}">Автор</h4>

            <h2 class="text-success my-3" th:text="${book.price} + ' грн.'">Ціна</h2>

            <p class="lead" th:text="${book.description}">Опис книги...</p>

            <table class="table table-striped mt-4">
                <tbody>
                <tr>
                    <th scope="row">Жанр</th>
                    <td th:text="${book.genre}"></td>
                </tr>
                <tr>
                    <th scope="row">Вікова категорія</th>
                    <td th:text="${book.ageGroup}"></td>
                </tr>
                <tr>
                    <th scope="row">Мова</th>
                    <td th:text="${book.language}"></td>
                </tr>
                <tr>
                    <th scope="row">Кількість сторінок</th>
                    <td th:text="${book.pages}"></td>
                </tr>
                <tr>
                    <th scope="row">Дата публікації</th>
                    <td th:text="${book.publicationDate}"></td>
                </tr>
                <tr>
                    <th scope="row">Характеристики</th>
                    <td th:text="${book.characteristics}"></td>
                </tr>
                </tbody>
            </table>

            <div class="mt-4">
                <a href="/books" class="btn btn-secondary">← Назад до списку</a>

                <span sec:authorize="hasRole('EMPLOYEE')">
                    <a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-warning">Редагувати</a>
                </span>

                <span sec:authorize="hasRole('CLIENT')">
                    <a href="#" class="btn btn-success">Додати в кошик</a>
                </span>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>