<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: headerFiles}">
    <title th:text="#{login.title}">Вхід у систему</title>
</head>
<body class="d-flex flex-column min-vh-100">
<nav th:replace="~{layout :: navbar}"></nav>

<div class="container mt-5 flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h3 class="text-center mb-4" th:text="#{login.header}">Вхід у систему</h3>

            <div th:if="${param.error}" class="alert alert-danger">

                <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION'] != null
                              and session['SPRING_SECURITY_LAST_EXCEPTION'].class.simpleName == 'LockedException'}">
                    <span th:text="#{login.error.blocked}">Ваш акаунт заблоковано!</span>
                </div>

                <div th:unless="${session['SPRING_SECURITY_LAST_EXCEPTION'] != null
                                  and session['SPRING_SECURITY_LAST_EXCEPTION'].class.simpleName == 'LockedException'}">
                    <span th:text="#{login.error.bad_credentials}">Невірний email або пароль!</span>
                </div>

            </div>

            <form th:action="@{/login}" method="post">
                <div class="mb-3">
                    <label th:text="#{login.email_label}">Email</label>
                    <input type="email" name="username" class="form-control" placeholder="email@example.com">
                </div>
                <div class="mb-3">
                    <label th:text="#{login.password_label}">Пароль</label>
                    <input type="password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary w-100" th:text="#{login.submit_btn}">Увійти</button>
            </form>

            <p class="text-center mt-3">
                <span th:text="#{login.no_account}">Немає акаунту?</span>
                <a href="/client/register" th:text="#{login.register_link}">Зареєструватися</a>
            </p>
        </div>
    </div>
</div>

<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>