<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: headerFiles}">
    <title th:text="#{reset_password.title}">Новий пароль</title>
</head>
<body class="d-flex flex-column min-vh-100 bg-light">

<nav th:replace="~{layout :: navbar}"></nav>

<div class="container mt-5 flex-grow-1">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-header bg-success text-white">
                    <h4 class="mb-0 text-center" th:text="#{reset_password.title}">Створення пароля</h4>
                </div>
                <div class="card-body p-4">

                    <div th:if="${error == 'update_failed'}" class="alert alert-danger text-center">
                        <span th:text="#{reset_password.error.failed}">Сталася помилка.</span>
                    </div>

                    <form th:action="@{/forgot-password/reset}"
                          th:object="${resetForm}"
                          method="post">

                        <input type="hidden" th:field="*{token}">

                        <div class="mb-3">
                            <label for="password" class="form-label" th:text="#{reset_password.label.new_password}">Новий пароль</label>

                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                <input type="password" class="form-control"
                                       th:field="*{password}"
                                       th:placeholder="#{reset_password.placeholder.password}"
                                       th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''">

                                <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                    Невірний формат пароля
                                </div>
                            </div>

                            <small class="form-text text-muted" th:text="#{register.hint.password}">
                                Вимоги: 6-25 символів...
                            </small>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-success" th:text="#{reset_password.btn.submit}">Змінити пароль</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="~{layout :: footer}"></footer>
</body>
</html>